html,
body {
  /* height: 100%;
  width: 100%; */
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

div[datatype="index"] {
  align-items: center;
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  font-family: math;
}

div[datatype="content"] {
  display: grid;
  gap: 2rem;
}

img {
  height: 100%;
  width: 25%;
}

h1,
p {
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

Form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  gap: 1rem;
}

label {
  display: grid;
  gap: 0.2rem;
  max-width: 20rem;
  text-align: left;
  font-size: 1rem;
}

span[datatype="labelSpan"] {
  font-weight: bold;
}

input[type="text"] {
  padding: 0.7rem;
  border: 1px solid #000000;
  border-radius: 5px;
}

button {
  padding: .7rem 1.5rem;
  cursor: pointer;
  color: #000;
  font-weight: 700;
  font-family: system-ui;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid black;
}

button:hover {
  padding: .7rem 1.5rem;
  cursor: pointer;
  color: #000;
  font-weight: 700;
  font-family: system-ui;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #6697e1, #0e3a8d) border-box;
  border-radius: 5px;
  border: 2px solid transparent;
}

ul {
  list-style: none;
  padding: 0;
  padding-top: 3rem;
  margin: 0;
  display: flex;
  gap: 2rem;
}

li {
  max-width: 20rem;
  text-align: left;
}

@media only screen and (max-width: 50rem) {
  ul {
    display: block;
  }

  li {
    padding-bottom: 1rem;
  }
}